          h1 {
             text-align: center;
             } 
       #chat {
			  border-right: 1px solid black; 
			  overflow: auto;
			  height: 70%;
		     }
		#inventory {
			  border-right: 1px solid black; 
			  overflow: auto;
			  height: 70%;
		     }
		#money {
			  overflow: auto;
			  height: 70%;
		     }
		footer {
			height: 5%;
			background-color: green;
		}